{extend name="index@index/base" /}
{block name="main"}

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="#">首页</a>
        </li>

        <li>
            <a href="#">外包厂资料</a>
        </li>
    </ul><!-- .breadcrumb -->
</div>

<div class="page-content">
    <div class="page-header col-xs-12">
        <h1 class="col-xs-4">
            外包厂资料
        </h1>
        <button wid="450px" hig="250px" title="添加外包厂" url="addagent" class="btn btn-primary pull-right add_agent layerIframe" style="margin-left: 50px">添加</button>

    </div><!-- /.page-header -->

    <div class="row"><!-- /.col -->
        <div>
            <form method="get">
                <label style="margin-left: 12px;height: 30px;font-size: 16px;">关键词:</label>
                <input type="text" name="key" style="height: 30px;margin-left:12px;width: 200px;" value="{$page_info.part?$page_info.part:'';}">
                <button class="btn btn-primary" style="margin-left: 50px;">搜索</button>
            </form>
        </div>
        <div>
            <table class="table table-hover" style="margin-left: 12px;margin-top:10px; ">
                <thead>
                <tr>
                    <th>id:</th>
                    <th>英文：</th>
                    <th>中文名称：</th>
                </tr>
                </thead>
                <tbody>
                {volist name="$page_info.data" id="vo"}
                    <tr  style="cursor: pointer" class="edit_agent" agent_id ="{$vo.id}">
                        <td>{$vo.id}</td>
                        <td>{$vo.en_name}</td>
                        <td>{$vo.c_name}</td>
                    </tr>
                {/volist}
                </tbody>
            </table>
            <div style="margin-left: 12px;">{$page_info.page}</div>

        </div>
    </div><!-- /.row -->
</div>
{/block}

{block name="script"}
<script type="text/javascript">
    //获取最新bom数据
    $(".edit_agent").dblclick(function(){
         var id =  $(this).attr('agent_id');
        layerIframe('修改外包厂',"{:url('/cost/cost_part/editAgent/id/')}"+id,wid='450px',hig='250px');
    });




    showStatus_a_button('{$Think.PRI_ARR}','{$Think.RBAC_FLAG}');
</script>
{/block}
