<div  >
    <form name="agent">
        <input type="hidden" name="id" value="{$data.id}">
        <div style="text-align: center">
            <label>英文名称</label>
            <input type="text" name="en_name" value="{$data.en_name}" style="width: 300px;">
        </div>
        <div style="text-align: center;margin-top: 20px;">
            <label>中文名称</label>
            <input type="text" name="c_name" value="{$data.c_name}" style="width: 300px;">
        </div>


    </form>
    <div style="margin-top: 10px;">
        <a  class="btn btn-primary pull-right edit">修改</a>
    </div>
</div>
<script>
    $(".edit").click(function(){
        var data = $("form[name=agent]").serializeArray();

        $.post("{:url('cost/cost_part/edit')}",data,function(result){
            showMsg(result);
        },"JSON");
    })
</script>